<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= button_to "Destroy", article_path(@article), 
  method: :delete, 
  onclick: "return confirm('Are you sure?')",
  class: "btn btn-danger"
  %></li>
</ul>

<%= render "articles/home-btn" %>

<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="order-2">
    <h2>Comments</h2>
    <%= render(@article.comments) || "There are no comments" %>
  </div>

  <div class="order-1">
    <h2>Add a comment:</h2>
    <%= render partial: "comments/form" %>
  </div>
</div>
